# Ledger <http://ledger-cli.org/>
snippet tt
	${8:`strftime("%Y")`}/${7:`strftime("%m")`}/${6:`strftime("%d")`} ${5:*} ${1:payee}
	    Expenses:${2:Checking}    ${3:0,00} €
	    Assets:${4:Checking}
		
	${0:tt}

