# Ledger <http://ledger-cli.org/>
snippet tt
	${1:`strftime("%Y")`}/${2:`strftime("%m")`}/${3:`strftime("%d")`} ${4:*} ${5:payee}
		Expenses${6::}    ${7:0,00} €
		${8:Account}
		
	${0:tt}

snippet ;; "ledger box"
	;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
	;; * ${1:January 2019}
	;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
	$0
